/* ########################## BASIC ANIMATION ############################ */

.background-7 {
  height: 200px;
  display: flex;
  justify-content: space-evenly;
  background-color: #eee;
}

.animation-1 {
  width: 100px;
  height: 100px;
  background-color: gold;
  border: 2px solid black;
  animation: clockwise 1.5s ease-in infinite;
}

@keyframes clockwise {
  0% {
    transform: translateX(0);
  }

  25% {
    transform: translateY(100%);
    background-color: greenyellow;
  }

  50% {
    transform: translateX(100%) translateY(100%);
    background-color: royalblue;
  }

  75% {
    transform: translateX(100%);
    background-color: aqua;
  }

  100% {
    transform: translateX(0);
  }
}

.animation-2 {
  width: 100px;
  height: 100px;
  background-color: gold;
  border: 2px solid black;
  animation: counterClockwise 500ms infinite alternate;
}

@keyframes counterClockwise {
  0% {
    transform: translateX(0);
  }

  25% {
    transform: translateX(-100%);
  }

  50% {
    transform: translateX(-100%) translateY(100%) scale(0.5, 0.5);
    background-color: antiquewhite;
  }

  75% {
    transform: translateX(0) translateY(100%);
  }

  100% {
    transform: translateY(0);
  }
}

.animation-3 {
  width: 100px;
  height: 100px;
  background-color: gold;
  border: 2px solid black;
  animation: rotate 2s infinite alternate-reverse;
  animation-play-state: paused;
}

@keyframes rotate {
  0% {
    transform: translateX(0);
  }

  50% {
    transform: translateX(75%) translateY(75%) rotate(90deg) scale(0.5);
    opacity: 0.5;
  }

  100% {
    transform: translateX(150%) translateY(150%);
  }
}

.background-7:hover .animation-1 {
  animation-play-state: paused;
}

.background-7:hover .animation-2 {
  animation-play-state: paused;
}

.background-7:hover .animation-3 {
  animation-play-state: running;
}

/* ########################## FUN 1 ############################ */

.background-8 {
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
  background-color: #eee;
  height: 500px;
}

.animation-4 {
  width: 50px;
  height: 50px;
  font-size: 0.8rem;
  background-color: blueviolet;
  border: 2px solid black;
  animation: rise1 8s forwards linear infinite;
}
.animation-5 {
  width: 50px;
  height: 50px;
  font-size: 0.8rem;
  background-color: blueviolet;
  border: 2px solid black;
  animation: rise2 6s forwards ease-in infinite;
}
.animation-6 {
  width: 50px;
  height: 50px;
  font-size: 0.8rem;
  background-color: blueviolet;
  border: 2px solid black;
  animation: rise3 8s forwards ease-in-out infinite;
}

@keyframes rise1 {
  100% {
    transform: translateY(-800%) rotate(360deg);
    opacity: 0;
  }
}

@keyframes rise2 {
  100% {
    transform: translateY(-800%) rotate(-660deg);
    opacity: 0;
  }
}

@keyframes rise3 {
  100% {
    transform: translateY(-800%) rotate(720deg);
    opacity: 0;
  }
}

.background-8:hover .square-4 {
  animation-play-state: paused;
}

.background-8:hover .square-5 {
  animation-play-state: paused;
}

.background-8:hover .square-6 {
  animation-play-state: paused;
}
