*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* ########################## TRANSLATION ############################ */

.background-1 {
  display: flex;
  justify-content: space-between;
  background-color: #eee;
}

.square-1,
.square-2,
.square-3 {
  width: 100px;
  height: 100px;
  background-color: red;
  border: 2px solid black;
  /* transition: property / duration / animation type / delay */
  transition: transform 1s ease-in-out;
}

.background-1:hover .square-1 {
  transform: translateX(100%);
}

.background-1:hover .square-2 {
  transform: translateY(100%);
}

.background-1:hover .square-3 {
  transform: translateX(-100%);
}

/* ########################## BOUCE TRANSLATION ############################ */

.background-2 {
  display: flex;
  justify-content: space-between;
  background-color: #eee;
}

.square-4,
.square-5,
.square-6 {
  width: 100px;
  height: 100px;
  background-color: red;
  border: 2px solid black;
  /* Bounce transition copied and pasted from the 
  inspector by clicking the ease property value 
  and then choosing one of several animations */
  transition: all 1s cubic-bezier(0.68, -0.55, 0.27, 1.55);
}

.background-2:hover .square-4 {
  transform: translateX(100%);
  background-color: yellow;
}

.background-2:hover .square-5 {
  transform: translateY(-100%);
  background-color: yellow;
}

.background-2:hover .square-6 {
  transform: translateX(-100%);
  background-color: yellow;
}

/* ########################## ROTATION ############################ */

.background-3 {
  display: flex;
  justify-content: space-around;
  background-color: #eee;
}

.square-7,
.square-8,
.square-9 {
  width: 100px;
  height: 100px;
  background-color: red;
  border: 2px solid black;
  /* Out Fast In Slow transition copied and pasted 
  from the inspector by clicking the ease property 
  value and then choosing one of several animations */
  transition: all 1s cubic-bezier(0.4, 0, 0.2, 1);
}

.background-3:hover .square-7 {
  transform: rotateX(360deg);
  background-color: cyan;
}

.background-3:hover .square-8 {
  transform: rotateY(360deg);
  background-color: cyan;
}

.background-3:hover .square-9 {
  transform: rotateZ(360deg);
  background-color: cyan;
}

/* ########################## SKEW ############################ */

.background-4 {
  display: flex;
  justify-content: space-around;
  background-color: #eee;
}

.square-10,
.square-11,
.square-12 {
  width: 100px;
  height: 100px;
  background-color: red;
  border: 2px solid black;
  /* Out Fast In Slow transition copied and pasted 
  from the inspector by clicking the ease property 
  value and then choosing one of several animations */
  transition: all 1s cubic-bezier(0.4, 0, 0.2, 1);
}

.background-4:hover .square-10 {
  transform: skewX(90deg);
  background-color: cyan;
}

.background-4:hover .square-11 {
  transform: scale(2, 2);
  background-color: cyan;
}

.background-4:hover .square-12 {
  transform: skewY(90deg);
  background-color: cyan;
}

/* ########################## MATRIX ############################ */

.background-5 {
  display: flex;
  justify-content: center;
  background-color: #eee;
}

.square-13,
.square-14,
.square-15 {
  width: 100px;
  height: 100px;
  background-color: red;
  border: 2px solid black;
  /* Out Fast In Slow transition copied and pasted 
  from the inspector by clicking the ease property 
  value and then choosing one of several animations */
  transition: all 1s cubic-bezier(0.4, 0, 0.2, 1);
}

.background-5:hover .square-13 {
  transform: matrix(1.5, 2, 2, 1.5, 4, 2);
  background-color: cyan;
}

.background-5:hover .square-14 {
  transform: matrix(5, 0, 2, 0.5, 2, 1);
  background-color: cyan;
}

.background-5:hover .square-15 {
  transform: matrix(6, 3, 0, 1, 2.5, 0);
  background-color: cyan;
}

/* ########################## FUN PRACTICE ############################ */

.background-6 {
  display: flex;
  height: 500px;
  justify-content: space-around;
  align-items: flex-end;
  background-color: #eee;
}

.square-16 {
  width: 100px;
  height: 100px;
  background-color: red;
  border: 2px solid black;
  transition: all 1s cubic-bezier(0.41, -0.27, 0.37, 1.95);
}

.square-17 {
  width: 100px;
  height: 100px;
  background-color: red;
  border: 2px solid black;
  transition: all 1s cubic-bezier(0.92, 0.1, 1, 1);
}

.square-18 {
  width: 100px;
  height: 100px;
  background-color: red;
  border: 2px solid black;
  transition: all 1s ease-in-out;
}

.background-6:hover .square-16 {
  transform: translateY(-400%);
  background-color: greenyellow;
}

.background-6:hover .square-17 {
  transform: translateY(-400%);
  background-color: palevioletred;
}

.background-6:hover .square-18 {
  transform: translateY(-400%);
  background-color: burlywood;
}
